#comic-poster-container {
    background-color: $main_color;
    height: 100px;
    figure {
        border: 1px solid white;
        display: inline-block;
        position: relative;
        margin-top: -220px;
        .product-type-badge,
        .view-gallery-badge {
            position: absolute;
            
            background-color: #00a9d9;
            color: white;
            font-size: 15px;
            padding: 1.5px 5px;
        }
        .product-type-badge{
            top: 0;
            left: 0;
        }
        .view-gallery-badge {
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}

#comic-description {
    background-color: white;
    padding: 50px 0;
    .description {
        width: 70%;
        padding: 0 30px;
        h3{
            font-size: 1.7rem;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #003f59;
        }
        .mini-shop {
            background-color: #55ba59;
            display: flex;
            color: #bcfb91;
            border-bottom: 1px solid #317635;
            font-weight: bold;
            font-size: 14px;
            .price-container{
                width: 80%;
                display: flex;
                justify-content: space-between;
                border-right: 1px solid #317635;
                padding: 15px 30px;
                .price {
                    letter-spacing: 1px;
                    color: white;
                }
            }
            .check-availability {
                width: 30%;
                text-transform: capitalize;
                color: white;
                text-align: center;
                padding: 15px 10px;
            }
        }
        p {
            color: #7e7c77;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.5rem;
            font-size: 16px;
            padding: 30px 0;
        }
    }
    .advertisement {
        padding: 7px 10px;
        position: relative;
        h5 {
            color: #505a63;
            position: absolute;
            top: -15px;
            right: 10px;
        }
    }
}