header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  font-weight: 700;
  height: 130px;
}

header img {
  width: 85px;
}

header nav {
  height: 100%;
}

header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #1c1c1c;
  padding: 52px 10px;
}

header nav ul li a:hover {
  transition: ease-in-out 0.1s;
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

header nav ul li a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.d-flex-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-130 {
  height: 130px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justyify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  margin-top: 130px;
}

