@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap);header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  font-weight: 700;
  height: 130px;
}
header img {
  width: 85px;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #1c1c1c;
  padding: 52px 10px;
}
header nav ul li a:hover {
  transition: ease-in-out 0.1s;
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
header nav ul li a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.d-flex-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-130 {
  height: 130px;
}

#footer-top {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#footer-top nav {
  display: flex;
  margin: 30px 0;
}
#footer-top nav section {
  width: 33.3333333333%;
  padding-right: 50px;
}
#footer-top nav section h3 {
  margin: 15px 0;
  color: white;
}
#footer-top nav section ul {
  display: inline-block;
  list-style-type: none;
}
#footer-top nav section ul li {
  padding: 3px 0;
}
#footer-top nav section ul li a {
  font-size: 0.8rem;
  color: #bbbbbb;
}
#footer-top nav section ul li a:hover {
  text-decoration: underline;
}
#footer-top .dc-logo-bg {
  width: 500px;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#footer-bottom {
  background-color: #303030;
}
#footer-bottom #sign-up {
  padding: 50px 0;
}
#footer-bottom #sign-up a {
  color: white;
  padding: 15px;
  border: 3px solid #0282f9;
}
#footer-bottom #sign-up a:hover {
  transition: 0.7s;
  background-color: #0282f9;
}
#footer-bottom #socials {
  display: flex;
  align-items: center;
}
#footer-bottom #socials h3 {
  color: #0282f9;
  display: inline-block;
  margin-right: 15px;
}
#footer-bottom #socials ul {
  list-style-type: none;
  display: inline-block;
}
#footer-bottom #socials ul li {
  display: inline-block;
  margin: 0 6px;
}
#footer-bottom #socials ul li:hover {
  transform: scale(1.1);
  filter: brightness(1.75);
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px;
}

main {
  background-color: #1c1c1c;
}
main #load-more {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0282f9;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 15px auto;
  cursor: pointer;
}
main #load-more:active {
  background-color: #016bce;
}
main .title {
  color: white;
  margin-top: -1.6rem;
}
main .title h2 {
  background-color: #0282f9;
  display: inline-block;
  padding: 10px 30px;
}
main p {
  color: white;
  line-height: 130px;
  font-size: 1.5rem;
}
main #products {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 16.6666666667%;
  margin: 30px 0;
}
.card a {
  color: white;
}
.card a .card-thumbnail {
  height: 170px;
  width: 170px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.card a span {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justyify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  margin-top: 130px;
}